# Python cache files
__pycache__/
*.egg-info/

# virtual environment files
.venv/

# datasets and logged data from experiments
dat/
# figures
fig/

# documentation
**/*.rst
!README.rst
!doc/source/index.rst
doc/build
