-e git://github.com/fKunstner/quickbench.git@v0.1.0#egg=quickbench
matplotlib==3.0.2
matplotlib2tikz==0.6.18
palettable==3.1.1
pandas==0.23.4
sphinx==1.8.3
sphinx-rtd-theme==0.4.2
tensorboard==1.11.0
tensorboard-logger==0.1.0
tensorflow==1.11.0
torchvision==0.2.1
