name: Flake8

on:
  push:
    branches:
      - pep8-style

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        make install-dev
    - name: Lint with flake8
      run: |
        make flake8
