name: Test

on: [push, pull_request]

jobs:
  tests:
    name: "py${{ matrix.python-version }} torch${{  matrix.pytorch-version}}"
    runs-on: ubuntu-latest
    env:
      USING_COVERAGE: '3.9'

    strategy:
      matrix:
        python-version: [3.9]
        pytorch-version:
          - "==2.2.0"
          - "" # latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        make install-test
        pip install torch${{ matrix.pytorch-version }} torchvision
    - name: Run test
      run: |
        make test
